﻿<h1>Ejemplos Caching</h1>
<ul class="list-group">
	<li>
		<a asp-controller="Caching" asp-action="MemoriaDistribuida">Memoria distribuida</a>
	</li>
	<li>
		<a asp-controller="Caching" asp-action="MemoriaPersonalizada">Memoria personalizada</a>
	</li>
</ul>
